.dark-mode {
  background-color: black !important;
  color: white;
}
.navBar-dark-mode{
  display: grid;
  grid-template-columns: 87% 13%;
  height: 60px;
  width: 100%;
  background-color:  rgb(37, 35, 32) !important;
  align-items: center;
}
.Country-dark-mode {
  width: 100%;
  height: 20rem;
  border-radius: 3px;
  margin-top: 1rem;
  box-shadow: 0.2px 4px 5px rgba(220, 213, 213, 0.2);
  position:relative;
  overflow: hidden;
  background-color: rgb(37, 35, 32) !important;
  cursor: pointer;
}
.detales-dark-mode{
  display: grid;
  width:80%;
   grid-template-columns: 50% 20% 20% ; 
   column-gap: 4%;
  justify-content: center;
  background-color:rgb(37, 35, 32) !important;
  margin: auto;
  margin-top: 2rem;
  border-radius: 5px;
}
body {
  margin: 0;
  font-family:  sans-serif;
  
}
.navBar{
  display: grid;
  grid-template-columns: 87% 13%;
  height: 60px;
  width: 100%;
  background-color: antiquewhite;
  align-items: center;
}
.nanBarH{
  margin-left: 8%;

}
.secondNav{
  margin-left: auto;
  margin-right: auto;
}
#main{
  display: grid;
   grid-template-columns:  20% 20% 20% 20%; 
   column-gap: 4%;
  align-items: center;
  justify-content: center;
}
.Country {
  width: 100%;
  height: 20rem;
  border-radius: 3px;
  margin-top: 1rem;
  box-shadow: 0.2px 4px 5px rgba(0,0,0,0.2);
  position:relative;
  overflow: hidden;
  background-color: antiquewhite;
  cursor: pointer;
}
.Country img{
  width:100%;
  height: 120px;
  border-radius: 3px;
}
.Country-info{
  margin-left: 30px;
  margin: 1rem;
  
}
.Country-dark-mode  img{
  width:100%;
  height: 120px;
  border-radius: 3px;
}
.Country-info{
  margin-left: 30px;
  margin: 1rem;
  
}
.detales{
  display: grid;
  width:80%;
   grid-template-columns: 50% 20% 20% ; 
   column-gap: 4%;
  justify-content: center;
  background-color: antiquewhite;
  margin: auto;
  margin-top: 2rem;
  border-radius: 5px;
}
.detales img{
  width:100%;
  height: 80%;
  border-radius: 3px;
  margin-top: auto;
  margin-bottom: auto;
}
#back{
  width: 70px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width:950px) {
  #main{
    display: grid;
     grid-template-columns:  25% 25% 25%; 
     column-gap: 4%;
    align-items: center;
    justify-content: center;
  }
 
}
@media (max-width:768px) {
  #main{
    display: grid;
     grid-template-columns:  35% 35% ; 
     column-gap: 10%;
    align-items: center;
    justify-content: center;
  }
 
}
@media (max-width:540px) {
  #main{
    display: grid;
     grid-template-columns:  70% ; 
    align-items: center;
    justify-content: center;
  }
  .detales{
    display: grid;
    width:80%;
    grid-template-columns:  70% ;
    justify-content: center;
    background-color: antiquewhite;
    margin: auto;
    margin-top: 2rem;
    border-radius: 5px;
  }
  .detales img{
    margin-top: 1rem;
    width:100%;
    height: 100%;
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: auto;
  }
 
}







